@import url('fonts.css');

*{
  list-style: none;
  text-decoration: none;
  font-family: 'gilam';
  font-weight: 400;
  color: var(--white);
}
*::before,
*::after {
  font-family: 'icons';
  font-weight: 300;
}

/* root */
:root {
  --white: rgba(255, 255, 255, 1);
  --orange-yellow: rgba(228, 181, 100, 1);
  --transt--orange: rgba(177, 128, 55, 0.85);
  --ex-light-gray: rgba(38, 38, 38, 1);
  --light-gray: rgba(35, 35, 35, 1);
  --gray: rgba(32, 32, 32, 1);
  --bold-gray: rgba(23, 23, 23, 1);
  --dark-gray: rgba(21, 21, 21, 1);
  --black: rgba(14, 14, 14, 1);
  --bw: rgba(14, 14, 14, 0.76);
  --main-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}
.header {
  width: 100%;
  height: 1011px;
  /* background: url('../img/main_bg.png') center center / cover no-repeat; */
  position: relative;
}
.main__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.header__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg);
  padding-top: 50px;
  display: flex;
}
.navbar {
  padding: 0;
  min-height: 60px;
}
.navbar-btn {
  width: 40px;
  height: 30px;
  position: relative;
}
.navbar-btn span {
  width: 100%;
  height: 2px;
  background: var(--white);
}
.contact__num,
.contact__num span {
  font-family: 'circle';
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  margin-right: 39px;
}
.contact__num span {
  color: var(--orange-yellow);
  margin-right: 0;
}
.btn {
  max-width: 280px;
  min-height: 50px;
  border: 1px solid var(--orange-yellow);
  padding: 17px 26px;
  color: var(--orange-yellow);
}
.btn span {
  color: var(--orange-yellow);
  font-family: 'circle';
  font-size: 18px;
  line-height: 30px;
}
.header--btn::before {
  margin: 0 8px 0 0;
  content: '\f879';
}
/* control menu */
.offcanvas {
  background-color: var(--dark-gray);
  overflow: auto;
}
.offcanvas-start {
  width: 945px;
  box-shadow: 0px 53px 32px rgba(0, 0, 0, 0.34);
}
/*offcanvas menu */
.offcanvas .container {
  padding: 0 0 0 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offcanvas-header {
  background: var(--white);
  margin-top: 52px;
  align-self: flex-start;
}
.offcanvs-body {
  margin: 78px 0 0 0;
}
.drop-menu {
  list-style: none;
  font-size: 24px;
  line-height: 56px;
}
.collapse {
  list-style: none;
}
.collapse a {
  font-weight: 300;
  font-size: 20px;
  line-height: 49px;
  letter-spacing: 2px;
}
/* content info  */
.content {
  margin-top: 154px;
  min-height: 200px;
}
.content-row {
  max-width: 775px; 
  margin: 38px 0 61px;
}
.content__info--logo img{
  width: 58px;
  background: transparent;
  margin-right: 16px;
}
.content__info--logo span{
  font-weight: 700;
  font-style: 24px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.content__info--item {
  display: flex;
  align-items: center;
}
.content__info--item img {
  width: 70px;
  display: flex;
}
.content__info--item span {
  font-family: 'circle';
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 0 21px;
}
.content__info--list h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.list-item a {
  font-size: 19px;
  line-height: 30px;
}

/* --------------------princip---------------------------------- */

.princip {
  width: 100%;
  background: var(--bold-gray);
  padding: 127px 0 61px;
}
.section--title {
  font-weight: 700;
  font-size: calc(24px + 26 * (100vw / 1920));
  line-height: 40px;
  margin-bottom: 0;
  padding: 0;
}
/* .princip--item img {
  width: 80px;
  object-fit: cover;
  display: flex;
} */
.princip-list {
  margin: 83px 0 38px;
}
.princip-list-info h3 {
  font-weight: 700;
  font-size: calc(18 + 5 * (100vw / 1920));
  line-height: 23px;
  margin-bottom: 17px;
}
.princip__slide {
  position: relative;
}
.princip-list-info a {
  font-size: calc(16 + 2 * (100vw / 1920));
  line-height: 13px;
}
.princip__info .call__btn::before {
  display: none;
}
.slide-block {
  position: absolute;
  right: 0;
  bottom: 0;
  /* max-width: 286px; */
  padding: 31px 35px 27px 42px;
  background: var(--gray);
}
.slide-block h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.slide-block p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.slide__nav--list {
  margin: 0;
  padding: 0;
}
.slide__nav--list li {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--white);
  margin-right: 15px;
}
.slide__nav--list li .active {
  background: var(--orange-yellow);
}
.carousel-controller-prev,
.carousel-controller-next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--orange-yellow);
}

/* --------------------princip---------------------------------- */

.project {
  width: 100%;
  height: 100%;
  background: var(--black);
  padding-top: 161px;
}
.project-title {
  margin-bottom: 61px;
}
.project--btn {
  padding: 10px 40px;
  border-radius: 0px;
}
.project--item {
  overflow: hidden;
  position: relative;
  /* width: 487px; */
  max-height: 391px;
  padding: 0;
}
.project--item--link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bw);
  transition: 0.3s ease;
}
.project--item--link p  {
  text-align: center;
  color: var(--white);
  margin: 10px 0 0 0;
  padding: 0 80px;
  display: none;
  font-size: 22px;
  line-height: 28px;
}
.project--item--link:hover {
  background: var(--transt--orange);
}
.project--item--link:hover p {
  display: flex;
}
.project--item--link img {
  width: 139px;
}

/* --------------------footer---------------------------------- */

.footer {
  width: 100%;
  background: var(--light-gray);
  padding: 100px 0 100px;
  position: relative;
}
.footer__bg {
  /* position: relative; */
  width: 100%;
  height: 100%;
}
.footer__bg img:first-of-type {
  width: 150px;
}
.footer__bg img:last-of-type {
  width: 600px;
}
.footer .container{
  position: absolute;
  top: 90px;
  left: 170px;
  max-width: 700px;
  padding: 0;
  /* width: 100%; */
  /* height: 100%; */
}
.footer--contacts {
  margin: 60px 0;
  gap: 30px; 
}
.footer--contacts h3 {
  font-weight: 700;
  font-size: calc(19px + 3 * (100vh / 1920));
  line-height: 28px;
}
.footer--contacts a {
  font-weight: 500;
  font-size: 20px;
  width: 487px;
  display: flex;
}
.footer--contacts a span::before {
  color: var(--orange-yellow);
  margin-right: 15px;
  font-size: 16px;
}
.footer-phone {
  font-size: 26px;
}
.footer-phone span::before {
  content: '\f879';
}
.footer-email span::before{
  content: '\f0e0';
}
.footer-map span::before{
  content: '\f3c5';
}
/* --------------------footerForm---------------------------------- */
.footer__form {
  margin-bottom: 39px;
}
.footer__form h2 {
  font-size: calc(18 + 12 * (100vh / 1920));
  line-height: 28px;
}
.footer__form p {
  font-size: 18px;
  line-height: 18px;
  margin: 13px 0 45px;
}
.footer__form--content {
  width: 715px;
  gap: 34px;
}
.footer__form--content label {
  padding: 0;
  width: 339px;
}
.footer__form--content label span {
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px;
}
.footer__form--content input {
  background: rgba(21, 21, 21, 1);
  width: 339px;
  padding: 15px 0 15px 25px;
  border: none;
  font-size: 14px;
  line-height: 30px;
}
.footer__form--content input:focus-visible {
  border: 1px solid var(--orange-yellow);
}
.footer__form--content input::placeholder {
  color: #fff;
}
.footer__form--content .call__btn {
  max-width: 339px;
  border-radius: 0;
  font-size: 16px;
}
.checkbox span {
  font-size: 16px;
  line-height: 25px;
}
.checkbox span a {
  text-decoration: unset;
}


@media (max-width: 1399.9px) {}
@media (max-width: 1199.9px) {
  /* .footer__bg {
    background: url('../img/footer-logo.png') left no-repeat, url('../img/icon/maps.svg') 0 0/300px 400px no-repeat, var(--light-gray);
  } */
}
@media (max-width: 991.9px) {
  .content_logo img{
    display: none;
  } 
  .content__info--item {
    justify-content: unset;
    align-items: unset;
  }
  .princip__info {
    margin-bottom: 30px;
  }
  .btn {
   max-width: 100%;
  }
  .project {
    padding: 100px 0 60px;
  }
  .project-title {
    margin-bottom: 40px;
  }
  .project-title .section--title {
    margin-bottom: 15px;
  }
}
@media (max-width: 767.9px) {
  .princip-list-info h3 {
    font-size: calc(18 + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
  }
  .princip-list-info a {
    font-size: calc(16 + (2 + 2 * 0.7) * ((100vw - 320px) / 1920)); 
  }
  .princip--btn {
    width: 100%;
    text-align: center;
  }
  .project--item--link p  {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 19px;
    line-height: 22px;
  }
}
@media (max-width: 575.9px) {
  .navbar  {
    flex-wrap: unset;
  }
  .call__btn {
    padding: 17px;
  }
  .call__btn::before {
    margin: 0;
  }
  .call__btn span {
    display: none;
  }
  .contact__num {
    margin-right: 20px;
  }
  .princip {
    padding-top: 90px;
  }
  .princip-list {
    margin-top: 50px;
  }
  .princip__slide img {
    width: 400px;
  }
  .slide-block {
    width: 90%;
    right: 20px;
  }
  .project-content {
    width: 95%;
  }
}
@media (max-width: 479.9px) {
  .princip-list-info {
    padding-left: 10px;
  }
  .princip__slide img {
    width: 300px;
  }
  .project--btn {
    display: none;
  }
}
@media (max-width: 319.9px) {}